{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/slider.css">
    <title>{% block title %} Home {% endblock title %}</title>
</head>
    <body>
        <header>
            <div class="header-top">
                <input type="checkbox" name="burger_top" id="burger_top_checkbox">
                <label for="burger_top_checkbox"></label>
                <nav class="header-top-nav">
                    <div>
                        <a href="#section_1">About us</a>
                    </div>
                    <div>
                        <a href="#section_2">Testimonials</a>
                    </div>
                    <div>
                        <a href="#section_3">Our offer</a>
                    </div>
                    <div>
                        <a href="#section_4">Statistics</a>
                    </div>
                    <div>
                        <a href="#section_5">Demand</a>
                    </div>
                    <div>
                        <a href="#section_6">Contact us</a>
                    </div>
                    <div>
                        <a href="#section_7">Contacts</a>
                    </div>
                </nav>
                <div class="header-top-contacts">
                    <img src="static/img/phone_icon.png" alt="phone">
                    <a>+467073139459</a>
                    <div></div>
                    <img src="static/img/mail.png" alt="mail">
                    <a>michael@toptruck.se</a>
                </div>
                <label class="burger_bottom_label" for="burger_bottom_checkbox"></label>
            </div>
            <input type="checkbox" id="burger_bottom_checkbox">
            <div class="header-bottom">
                <nav>
                    <input type="radio" id="home_radio" name="header_bottom_radio" class="bottom_nav_radio">
                    <label for="home_radio" class="tab">
                        <a href="home.html" target="_self">
                            <span>Home</span>
                        </a>
                    </label>
                    <div>
                        <input type="radio" id="sales_radio" name="header_bottom_radio" class="bottom_nav_radio">
                        <label for="sales_radio" class="tab">
                            <span>Sales</span>
                            <img class="expand_arrow" src="static/img/expand_arrow.png" alt="expand_arrow">
                        </label>
                        <ul class="menu_box animation">
                            <li class="menu_item">
                                <a href="sales.html" target="_self">
                                    <span>Used machines</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="sales.html" target="_self">
                                    <span>Refurbished chassis</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="sales.html" target="_self">
                                    <span>Full refurbished machines</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <input type="radio" id="rent_radio" name="header_bottom_radio" class="bottom_nav_radio">
                        <label for="rent_radio" class="tab">
                            <span>Rent</span>
                            <img class="expand_arrow" src="static/img/expand_arrow.png" alt="expand_arrow">
                        </label>
                        <ul class="menu_box animation">
                            <li class="menu_item">
                                <a href="rent.html" target="_self">
                                    <span>Passenger cabin</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="rent.html" target="_self">
                                    <span>Machine with board</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="rent.html" target="_self">
                                    <span>Machine with board and crane</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <input type="radio" id="spare_radio" name="header_bottom_radio" class="bottom_nav_radio">
                        <label for="spare_radio" class="tab">
                            <span>Spare</span>
                            <img class="expand_arrow" src="static/img/expand_arrow.png" alt="expand_arrow">
                        </label>
                        <ul class="menu_box animation">
                            <li class="menu_item">
                                <a href="spare.html" target="_self">
                                    <span>Engine & Transmission</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="spare.html" target="_self">
                                    <span>Brake System</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="spare.html" target="_self">
                                    <span>Electrical System</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="spare.html" target="_self">
                                    <span>Steering System</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="spare.html" target="_self">
                                    <span>Chassis</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="spare.html" target="_self">
                                    <span>Body</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="spare.html" target="_self">
                                    <span>Other</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <input type="radio" id="options_radio" name="header_bottom_radio" class="bottom_nav_radio">
                        <label for="options_radio" class="tab">
                            <span>Options</span>
                            <img class="expand_arrow" src="{% static '/img/expand_arrow.png' %}" >
                        </label>
                        <ul class="menu_box animation">
                            <li class="menu_item">
                                <a href="options.html" target="_self">
                                    <span>Personell Carrier</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="options.html" target="_self">
                                    <span>Flatbeds With Crane</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="options.html" target="_self">
                                    <span>Flatbed Without Crane</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="options.html" target="_self">
                                    <span>Hook Lift Loader</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="options.html" target="_self">
                                    <span>Snow Blade</span>
                                    <span>&gt</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <input type="radio" id="BV115_radio" name="header_bottom_radio" class="bottom_nav_radio">
                    <label for="BV115_radio" class="tab">
                        <a href="bv115.html" target="_self">
                            <span>BV-115</span>
                        </a>
                    </label>
                </nav>
            </div>
        </header>
        {% block container %}

        {% endblock container %}
        <footer>
            <p>© 2013 Top truck. Underone</p>
        </footer>
        <script src="static/js/jquery-3.6.1.min.js"></script>
        <script src="static/js/gsap.js"></script>
        <script src="static/js/ScrollTrigger.js"></script>
        <script src="static/js/countUp.min.js"></script>
        <script src="static/js/countUp-jquery.js"></script>
        <script src="static/js/header_script.js"></script>
        <script src="static/js/slider_script.js"></script>
        <script src="static/js/script.js"></script>
    </body>
</html>