{% extends 'base.html' %}
 {% load static %}

 {% block title %}
 Spare
 {% endblock title %}

{% block container %}
        <main id="spare_page" class="page">
            <a href="cart.html" class="cart_button">
                <div class="cart">
                    <p>0</p>
                </div>
            </a>
            <section id="sales_section">
                <div class="dark_blackout common_padding_under_header">
                    <h2>Our offers // <span>Spare details</span></h2>
                    <div class="marketplace">
                        <div class="offer" id="offer_1">
                            <img src="static/img/engine_1.png" alt="engine_1">
                            <div class="ad_block">
                                <h3>BV206-1 Engine</h3>
                                <p>The majority of the BV206's we sell are outfitted with the originally installed and well proven Petrol/Gasoline powered V6 powerplant.</p>
                                <div class="spare_flex">
                                    <div class="price">
                                        <h5>Price:</h5>
                                        <h5>4599$</h5>
                                    </div>
                                    <a href="offer.html" class="offer_button">Buy</a>
                                </div>
                            </div>
                        </div>
                        <div class="offer" id="offer_2">
                            <img src="static/img/engine_2.png" alt="engine_1">
                            <div class="ad_block">
                                <h3>BV206-2 Engine</h3>
                                <p>The majority of the BV206's we sell are outfitted with the originally installed and well proven Petrol/Gasoline powered V6 powerplant.</p>
                                <div class="spare_flex">
                                    <div class="price">
                                        <h5>Price:</h5>
                                        <h5>4899$</h5>
                                    </div>
                                    <a href="offer.html" class="offer_button">Buy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
 {% endblock container %}